<!DOCTYPE html>
<html ng-app="sportApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Sports Shopping Mall</title>
    <!--Bootstrap stylesheet-->
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <!--Flat UI-->
    <link rel="stylesheet" type="text/css" href="/components/Flat-UI-Pro-1.3.2/dist/css/flat-ui-pro.css"/>
    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="/components/CSS/Main.css"/>
</head>
<body ng-controller="sportStoreCtrl">

<!--Header Menus-->
<ng-include src="'/public/header.html'"></ng-include>

<!--Data Access Error Report-->
<ng-include src="'/public/errorReport.html'"></ng-include>

<!--Product Lists-->
<ng-view></ng-view>




<!--set up jQuery-->
<script src="/components/jquery/dist/jquery.js"></script>

<!--set up angularJS-->
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/angular-ui-utils/ui-utils.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/controllers/sportsStore.js"></script>
<script src="/controllers/productListCtrl.js"></script>
<script src="/controllers/cartSummaryController.js"></script>
<script src="/controllers/navbarController.js"></script>
<script src="/ngmodules/cart/cart.js"></script>
<script src="/filters/customerFilter.js"></script>

<!--set up Flat UI-->
<script src="/components/Flat-UI-Pro-1.3.2/dist/js/flat-ui-pro.js"></script>
<script src="/components/Flat-UI-Pro-1.3.2/dist/js/vendor/video.js"></script>
<script src="/components/Flat-UI-Pro-1.3.2/js/fileinput.js"></script>
<script src="/components/Flat-UI-Pro-1.3.2/js/radiocheck.js"></script>
<script src="/components/Flat-UI-Pro-1.3.2/js/prettify.js"></script>
<script src="/components/Flat-UI-Pro-1.3.2/js/application-docs.js"></script>
</body>
</html>