<!DOCTYPE html>
<html ng-app="sportApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Sports Shopping Mall</title>
    <!--Bootstrap stylesheet-->
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <!--Flat UI-->
    <link rel="stylesheet" type="text/css" href="/components/Flat-UI-Pro-1.3.2/dist/css/flat-ui-pro.css"/>
    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="/components/CSS/Main.css"/>
</head>
<body ng-controller="sportStoreCtrl">
<!--Header Menus-->
<header>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">SPORTS Brand</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#fakelink">Home</a></li>
                    <li><a href="#fakelink">Products</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Brand <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li><a href="#fakelink">Contact Us</a></li>

                </ul>
                <form class="navbar-form navbar-right" action="#" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" id="search-query-3" type="text" placeholder="Search">
                  <span class="input-group-btn">
                    <button class="btn" type="submit"><span class="fui-search"></span></button>
                  </span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- /navbar -->
    </div>
</header>

<!--Data Access Error Report-->
<ng-include src="'/public/errorReport.html'"></ng-include>

<!--Product Lists-->
<ng-include src="'/public/productList.html'"></ng-include>





<!--set up jQuery-->
<script src="/components/jquery/dist/jquery.js"></script>

<!--set up angularJS-->
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-ui-utils/ui-utils.js"></script>
<script src="/controllers/sportsStore.js"></script>
<script src="/controllers/productListCtrl.js"></script>
<script src="/filters/customerFilter.js"></script>

<!--set up Flat UI-->
<script src="/components/Flat-UI-Pro-1.3.2/dist/js/flat-ui-pro.js"></script>
<script src="/components/Flat-UI-Pro-1.3.2/dist/js/vendor/video.js"></script>
<script src="/components/Flat-UI-Pro-1.3.2/js/fileinput.js"></script>
<script src="/components/Flat-UI-Pro-1.3.2/js/radiocheck.js"></script>
<script src="/components/Flat-UI-Pro-1.3.2/js/prettify.js"></script>
<script src="/components/Flat-UI-Pro-1.3.2/js/application-docs.js"></script>
</body>
</html>